body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightgreen;
}


.item {
  background-color: #f7f7f7;   /
  border: 2px solid #ccc;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 8px;
}

.info {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: blue;
  color: white;
}
