{% extends "layout.html" %}

{% block title %}Muokkaa ilmoitusta{% endblock %}

{% block content %}
<h2>Lenkki-ilmoitus: {{ item.title }}</h2>
<h3>Muokkaa ilmoitusta</h3>
<form action="/update_item" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" id="title" name="title" value="{{ item.title }}" maxlength="50" required/>
  </p>
  <p>
  <label for="description">Lenkin kuvaus:</label> <br />
    <textarea name="description" id="description" rows="8" cols="60"  maxlength="1000" required >{{ item.description }}</textarea>
  </p>
  <p>
    <label for="run_length">Reitin pituus:</label> <br />
    <input type="text" id="run_length" name="run_length" size="5" value="{{ item.run_length }}" /> km
  </p>
  <p>
    <label for="date">Juoksun päivämäärä: </label> <br />
    <input type="date" name="date" id="date" size="5" pattern="1-9][0-9]{0,3}"  />
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}"/>
  {% for class in all_classes %}
    <p>
      <label for="class_{{ class }}">{{ labels[class] }}: </label> <br />
      <select name="classes" id="class_{{ class }}">
        <option value="">(valitse)</option>
      {% for option in all_classes[class] %}
        {% if classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä ilmoitusta" />
</form>
<p>
  <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}
