{% extends "layout.html" %}

{% block title %}Ilmoituksen kuvat{% endblock %}

{% block content %}
<h2>Lenkki-ilmoitus: {{ item.title }}</h2>
<h3>Ilmoituksen kuvat: </h3>

<p>
Ilmoituksessa on {{ images | count }} kuvaa.
</p>
<h2>Lisää uusi kuva</h2>
<form action="/add_image" method="post" enctype="multipart/form-data">
<p>
    Kuva: <input type="file" name="image" accept=".png" />
</p>
<input type="hidden" name="item_id" value="{{ item.id }}">
<input type="submit" value="Lähetä" />
<p>
</form>
  <a href="/item/{{ item.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}
