{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<h2>Luo käyttäjätunnus</h2>

<form action="/create" method="post">
  <p>
    <label for="title">Tunnus:</label> <br />
    <input type="text" id="title" name="username" />
  </p>
  <p>
    <label for="title">Salasana:</label> <br />
    <input type="password" id="password" name="password1" />
  </p>
  <p>
    <label for="title">Salasana uudelleen:</label> <br />
    <input type="password" id="password2" name="password2" />
  </p>
  <input type="submit" value="Luo tunnus" />
</form>
{% endblock %}
